.btn {
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all .3s ease-in-out;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 1);
  }
}
